:root {
	--main-font: 'Inter', sans-serif;
	--secondary-font: 'Readex Pro', sans-serif;
}

body {
	font-family: var(--main-font);
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
	margin: 0;
}

ul {
	margin: 0;
	padding: 0;
	list-style: none;
}

img {
	display: block;
}

a {
	color: inherit;
	text-decoration: none;
}

.container {
	width: 1324px;
	padding: 0 15px;
	margin-left: auto;
	margin-right: auto;
}

/* Header */
.header-container {
	display: flex;
	align-items: center;
}

.nav {
	display: flex;
	align-items: center;
}

.header-logo {
	margin-right: 285px;
}

.nav-list {
	display: flex;
	gap: 40px;

	font-size: 14px;
	line-height: 120%;
	text-transform: uppercase;
}

.nav-link {
	display: block;
	padding: 30px 0;
}

.nav-link:hover,
.nav-link:focus {
	color: deeppink;
}

.search-icon:hover,
.search-icon:focus {
	fill: deeppink;
}

.search-icon {
	margin-left: auto;
}